<?xml version='1.0' encoding='utf-8'?>
<widget id="com.basvanderwilk.aslkids" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <preference name="loglevel" value="DEBUG" />
    <feature name="App">
        <param name="android-package" value="org.apache.cordova.App" />
    </feature>
    <feature name="InAppBillingPlugin">
        <param name="android-package" value="com.smartmobilesoftware.inappbilling.InAppBillingPlugin" />
    </feature>
    <name>ASLKids</name>
    <description>
        A fun Sign Language dictionary for kids
    </description>
    <author href="http://asl-kids.com" email="info@asl-kids.com">
       Bas van der Wilk
    </author>
    
      <preference name="Fullscreen" value="true" />
       <preference name="BackgroundColor" value="0xff0000ff"/>
       <preference name="Orientation" value="portrait" />
       <preference name="target-device" value="universal" /> <!-- all: possible values handset, tablet, or universal -->
       
		

		
<preference name="SplashScreen" value="screen" />
<preference name="SplashScreenDelay" value="10000" />
    
 

    
    
    
    <content src="index.html" />
    <access origin="*" />
</widget>

