$base-color: #65bcab;
$include-pictos-font: false;
$include-default-icons: false;
$include-highlights: false;
$base-gradient: none;
$basic-slider: true;
$body-bg-color: #65bcab;
$list-active-color: #65bcab;
$list-pressed-color: #409d8b;
$loading-spinner-color: #dde5cd;

// exclude components that app is not using
@import 'sencha-touch/default';
@import 'sencha-touch/default/src/tab/Panel';

body {
  overflow: hidden;
  background-color: #65bcab !important;
  background-image: url('../icons/splash.png');
  background-repeat: no-repeat;
}


@font-face {
  font-family: 'Kranky';
  src: url('../fonts/Kranky.ttf');}
  
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.ttf');}  
 
// $font-family: 'Kranky', sans-serif !default;


.x-list .x-list-item, .x-button-label, h3, h4, .quizTitle, .resulttekst, .quiz-options {
  font-family: 'Kranky', Helvetica Neue
}


//-------------------------------------------- MENU -------------------------------------------


#nav-menu {
  background-color: #E56072 !important;
}

#nav-menu .x-list .x-list-item {
  width: 195px !important;
  height: 195px !important;
  color: #dde4ce;
//  padding: 17px;
}

#nav-menu .x-list .x-list-item.x-item-selected.x-list-item-tpl {
 background-color: #cb394d !important;
}

.menutitle {
background-color: transparent;
border: none !important;
color: #dde4ce;
font-size: 22px;
padding: 20px !important;
margin-bottom: 50px;
}

.menu-icon-big {
font-size: 70px;
padding: 20px 0 -5px 0 !important;
  height: 150px;
  font-family: 'icomoon' !important;
}

.menuHome {
  height: 150px;
  font-family: 'Kranky' !important;
  padding: 20px 0 0px 0 !important
//  background-image: url("../images/menu-home.png") !important;
//  background-repeat: no-repeat;
  
}

.menuQuiz {
  height: 150px;
  font-family: 'Kranky' !important;
  padding: 20px 0 0px 0 !important
//  background-image: url("../images/menu-quiz.png") !important;
//  background-repeat: no-repeat;
}

.menuList {
  height: 150px;
  font-family: 'Kranky' !important;
  padding: 20px 0 0px 0 !important
//  background-image: url("../images/menu-list.png") !important;
//  background-repeat: no-repeat;
}

.menuInfo {
  height: 150px;
  font-family: 'Kranky' !important;
  padding: 20px 0 0px 0 !important  
//  background-image: url("../images/menu-info.png") !important;
//  background-repeat: no-repeat;

}
//-------------------------------------------- LIST -------------------------------------------

.gebarenlijst {
  background-color: #65bcab !important;
  color: #dde5cd !important;
  padding: 30px 0 0 35px

}

//.x-list .x-list-item img {padding: 5px 0 !important;}

.x-list .x-list-item.x-item-pressed, .x-list .x-list-item.x-item-selected.x-list-item-tpl {
  background-color: #65bcab !important
}

.x-list .x-list-item {
  color: !important;
  font-weight: 400 !important;
  /* letter-spacing: 1px !important; */
  text-transform: uppercase !important;
  float: left;
  display: block;
  margin: 10px;
  text-align: center !important;
  width: 150px;
  height: 150px;
  border: 2px solid #dde5cd;
  border-radius: 100%;
}

//-------------------------------------------- SIMPLE TEKST PAGES -------------------------------

.tekstscreen {
  background-color: #65bcab !important
}

h3 {color: #409d8b !important; margin:0; padding: 0} 
//h4 {color: #fff !important; font-size: 20px !important} 

// #hometekst {position: fixed; bottom: 200px; left: 120px} 

.x-html {
  line-height: 1.6 !important;
  color: #dde5cd;
  font-size: 1em !important;
  padding: 20px 50px !important;
  font-family: 'Helvetica Neue'
}

//-------------------------------------------- BUTTONS -------------------------------------------

.audioButton
{
 background-image: url('../images/sound-button-back.png')!important;
 background-repeat: no-repeat;
 width: 230px;
 height: 60px;
 background-color: transparent !important;
 text-transform:uppercase !important; 
 border: 0 !important;
 position: absolute;
top: 460px;
left: 344px;
padding-left: 80px !important;

}


.x-button-label {
  color: #dde5cd !important;
//  font-weight: 400 !important;
  letter-spacing: 2px !important;
  text-align: left !important  
}

.backButton  {
   background-image: url('../images/arrow-left-small.png')!important;
   background-repeat: no-repeat;
  width: 60px !important;
   height: 60px !important; 
   position: absolute !important;
    top: 460px;
    left: 20px;
   border: 1px solid #dde5cd;//   margin: -15px auto -10px auto !important;
  display: block;
   border-radius: 100%
}

.nextButton  {
   background-image: url('../images/nextButton.png')!important;
   background-repeat: no-repeat;
//   background-position: 10px 40px; 
//   background-color: #54c3c1 !important;
   width: 60px !important;
   height: 60px !important; 
//   padding: 35px 5px 0 55px !important;
  border: 1px solid #dde5cd;//   margin: -15px auto -10px auto !important;
  display: block;
   border-radius: 100%; 
   position: absolute !important;
    top: 460px;
    right: 20px
}

//.nextButton-pressed, .backButton-pressed  {
//  border: 1px solid #409d8b !important;
//}


.again {
     background-image: url('../images/replay-button.png')!important;
   background-repeat: no-repeat;
//   background-position: 10px 40px; 
//   background-color: #54c3c1 !important;
   width: 372px !important;
   height: 60px !important; 
//   padding: 35px 5px 0 55px !important;
   border: 0 !important;
//   margin: -15px auto -10px auto !important;
//   border-radius: 10px; 
   position: absolute !important;
    top: 400px;
    left: 280px;
    padding-left: 80px !important;
    text-align: left !important;
    font-size: 22px;
}

//-------------------------------------------- PLAY / QUIZ -------------------------------------
.quizbackground {
  background: url('../images/quizbackground.png')!important;
  height: 976px;
  width: 768px;
//  background-size: 100% !important;
  background-repeat:no-repeat !important;
//  background-color: #7bcdca !important; // important moet erbij
}

.quizTitle {
  font-size: 42px;
  background-color: transparent;
  border: none !important;
  color: #dde5cd;
  padding: 30px 0 0 30px
}

.quiz-options {
//  background-color: #66bbab !important;
  color: #dde5cd !important;
  font-weight: 300 !important;
  letter-spacing: 1px !important;
  text-transform: uppercase !important;
  text-align: center !important;
  float: left;
  display: block;
  margin: 50px 25px 0 25px;
  padding: 30px;
  text-align: center !important;
  width: 200px;
  height: 200px;
  border: 3px solid #dde5cd;
  border-radius: 100%;
  background-color: #65bcab;
-webkit-box-shadow: 0 0 10px #409d8b
}

.x-msgbox {
  width: 500px !important;
  height: 300px !important;
  margin: 50px !important;
  border: none !important;
  background-color: #0990d3 !important;
  border-radius: 10px;
  color: #dde4ce;
  -webkit-box-shadow: 0 0 10px #4a5e5a
}

.x-msgbox-buttons .x-button {
width: 100%;
background-color: #ea5f72 !important;
height: 60px !important;
color: #dde5ce;
border-radius: 10px;
padding-left: 160px;
//text-align: center !important;
// padding-left: 70px

}

.x-toolbar {
border-radius: 10px
}

.resulttekst {
  margin: 60px auto;
  color: #dde5cd;
  font-size: 30px;
  text-align: center !important
}


//-------------------------------------------- VIDEO -------------------------------------------

video {
//  background-color: #7bcdca !important; // important moet erbij
  width: 768px !important;
  height: 432px !important;
  overflow: hidden !important;
 -webkit-animation: fadein .5s !important;
// -webkit-animation: pulse2 2s linear infinite;
}


.x-video.loading {
  -webkit-transform:translateX(2048px) !important
}

.x-media {
  top: 0px !important
}

.x-video>* {
  
//-webkit-animation: fadein 1s !important;
}

.x-button {
// display: none !important
background-color: transparent !important
// border: 0px !important
}

.x-video-ghost {
background-color: transparent !important;
//background: url('../images/poster-play-video.png') center center no-repeat !important;
//-webkit-animation: fadein 2s 1s !important;
}

.x-layout-card-item {
  background: transparent
}


.x-video {
  background: none !important
}


*, *:after, *:before {
 -webkit-tap-highlight-color: rgba(123, 205, 202, 1) !important
}



//-------------------------------------------- ANIMATION -------------------------------------------


.listdetailimage {-webkit-animation: fadein .3s !important; position: absolute; top: 20px}

.fade-in {-webkit-animation: fadein .3s;}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@keyframes pulse2 {
 0% {-webkit-transform: scale(1);}
 100% {-webkit-transform: scale(0.9);}
}

@-webkit-keyframes "pulse2" {
 0% {
   -webkit-transform: scale(1.0);
   transform: scale(1.0);
 }
 50% {
   -webkit-transform: scale(0.9);
   transform: scale(0.9);
 }
 100% {
   -webkit-transform: scale(1);
   transform: scale(1);
 }

}

.swipe-animation {-webkit-animation: swipeanimation 1s steps(30) 4 alternate; width: 86px; height: 103px; float: right;}
@-webkit-keyframes swipeanimation {
  -webkit-animation-timing-function: linear;
   0% {padding-left:0px;}
   100% {padding-left:70px;}
}

//-------------------------------------------- Bottom menu bar -------------------------------------------   

.x-tabbar-dark.x-docked-bottom .x-tab-active {
background-image: none !important;
background-color: transparent !important;
}

.x-tabbar.x-docked-bottom {
 border-top-width: 0px !important;
}

.x-tabbar.x-docked-bottom .x-tab .x-button-icon {
//  margin: 8px auto 0 auto !important;
width: 3em;

}

.x-tabbar.x-docked-bottom .x-tab {
border: 1px;
border-radius: 100% !important;
}

.x-img.x-img-background {
  background-position: bottom;
  background-size: auto;
}

.x-tabbar-dark {
  border-top-color: #409d8b !important; 
  border-bottom-color: #409d8b !important; 
  background-image: #409d8b !important; 
  background-color: #409d8b !important;
}




#ext-element-88
{
    font-family: "Helvetica Neue" !important;
    color: #dde5cd !important;
    margin-top: 2px !important;
    width: 100px;
  text-align: center !important
}

#ext-element-95 {
  padding-left:80px !important
}

//-------------------------------------------- p ------------------------------------------- 

.gebarendetail {
  background: url('../images/background.png')!important;
  height: 976px;
  width: 768px;
//  background-size: 100% !important;
  background-repeat:no-repeat !important;
//  background-color: #7bcdca !important; // important moet erbij
}

.mainimage {
  margin-top: -50px !important;
}



//-------------------------------------------- NAVIGATION ICONS -------------------------------------------

@include icon-font('icomoon', inline-font-files ('../fonts/icomoon.ttf'));
 
//@include icon("home"  , "\ea54", "icomoon");
//@include icon("star"  , "\e600", "icomoon");
//@include icon("search", "\e602", "icomoon");
//@include icon("info"  , "\e604", "icomoon");
@include icon("menu"  , "\ea54", "icomoon");



