$base-color: #65bcab;
$include-pictos-font: false;
$include-default-icons: false;
$include-highlights: false;
$base-gradient: none;
$basic-slider: true;
$body-bg-color: #65bcab;
$list-pressed-color: #f3f005;
$loading-spinner-color: #dde5cd;

$experimental-support-for-mozilla : false;
$experimental-support-for-webkit : false;
$support-for-original-webkit-gradients : false;
$experimental-support-for-opera : false;
$experimental-support-for-microsoft : false;
$experimental-support-for-khtml : false;

// exclude components that app is not using
@import 'sencha-touch/default';
@import 'sencha-touch/default/src/tab/Panel';


@font-face {
  font-family: 'Handlee';
  src: url('../fonts/Cookie-Regular.ttf')
}
  
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.ttf')}  

.again, h3, .quizTitle, .resulttekst, .quiz-options, .x-list .x-list-item, .audioButton, .menu-hint {
  font-family: 'Handlee', Helvetica Neue;
  color: #dde5cd !important;
}


//-------------------------------------------- MENU -------------------------------------------

#nav-menu {
  background-color: #E56072;
  color: #dde5cd;
  padding: 30px 0 0 20px
}

#nav-menu .x-list .x-list-item.x-item-selected.x-list-item-tpl {
 background-color: #cb394d !important
}

.menu-icon-big {
  font-size: 50px;
  margin: 10px 0 10px;
  font-family: 'icomoon'
}


//-------------------------------------------- Hmme -------------------------------------------

.homescreen {
background-color: #65bcab !important;
background-image: url('../images/girl.svg'), url('../images/stars-background.svg') !important;
background-position: center center, center top !important;
background-repeat: no-repeat !important
}
  
.menu-hint {
  -webkit-animation: menudown 3s;
  -webkit-animation-delay: 5s;
  position: absolute;
  bottom: 150px;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  height: 65px;
  background-color: rgba(0,0,0,0.3);
  opacity:0;
  color: #fff;
  padding: 5px;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  font-size: 28px
}

//-------------------------------------------- list ------------------------------------------- 

.gebarendetail {
 background-color: #65bcab !important;
 background-image: url('../images/textballoon.svg'), url('../images/rainbow.svg') !important;
 background-position: center top, center bottom !important;
background-repeat: no-repeat !important
}


.gebarenlijst {
  background-color: #65bcab !important;
//  color: #dde5cd !important;
  padding: 30px 0 0 15%;
}

.x-list .x-list-item.x-item-pressed, .x-list .x-list-item.x-item-selected.x-list-item-tpl {
  background-color: #65bcab !important
}

.x-list .x-list-item {
  float: left;
  display: block;
  margin: 5px;
  text-align: center !important;
  width: 100px;
  height: 100px;
  border: 2px solid #dde5cd;
  border-radius: 10px;
  font-size: 1em
}

.x-list img {
  padding: 5px 30px 0 0;
}

.objectimages {
  width: 125px
}

//-------------------------------------------- SIMPLE TEKST PAGES -------------------------------

.infoscreen {
  background-color: #65bcab !important
}

h3 {color: #409d8b !important; margin:0; padding: 0; font-size: 1.5em !important} 

.x-html {
  line-height: 1.6 !important;
  color: #dde5cd;
  font-size: 1em !important;
  padding: 20px 5% !important;
  font-family: 'Helvetica Neue'
}

//-------------------------------------------- BUTTONS -------------------------------------------

.homebutton {
  height: 100%;
  width: 100px !important
}

.audioButton
{
 background-image: url('../images/audio.svg') !important;
 background-size: 60px;
 background-position: center top !important;
 background-repeat: no-repeat !important;
 max-height: 100px;
 width: 50%;
 background-color: transparent !important;
 border: 0 !important;
 position: absolute;
top: 40%;
left: 25%;
padding: 65px 0 0 0 !important;
font-size: 1.7em
}

.x-button-icon .x-shown menu .x-button-label {
  color: #dde5cd !important;  
  letter-spacing: 1px !important;
  text-align: left !important;
  font-family: Helvetica Neue 
}

.x-button-label {
color: #dde5cd
}

.backButton  {
  background-image: url('../images/back.svg') !important;
  background-size: 58px;
  background-position: 0 0 !important;
  background-repeat: no-repeat !important;
 height: 60px;
   width: 60px;
   position: absolute !important;
    top: 50%;
  left: 2%;
    border: none;
}

.nextButton  {
  background-image: url('../images/next.svg') !important;
  background-size: 58px;
  background-position: 0 0 !important;
  background-repeat: no-repeat !important;
 height: 60px;
  width: 60px;
   position: absolute !important;
    top: 50%;
right: 2%;
    border: none
}

.again {
     background-image: url('../images/replay-button.png')!important;
   background-repeat: no-repeat;
   width: 200px !important;
   height: 150px !important; 
   border: 0 !important;
//   position: absolute !important;
//    top: 400px;
//    left: 280px;
//    text-align: left !important;
    font-size: 2em;
    margin: 0 auto
}


//-------------------------------------------- PLAY / QUIZ -------------------------------------
.quizbackground {
  background-image: url('../images/video-background.svg') !important;
  background-size: 100% 100%;
  background-position: 0 0 !important;
  background-repeat: no-repeat !important
}

.quizTitle {
  font-size: 2em;
  background-color: transparent;
  border: none !important;
  color: #dde5cd;
  padding: 30px 30px 0 30px
}

.quiz-options {
  text-align: center !important;
  float: left;
  display: block;
  margin: 50px 2% 0 0;
  padding: 5px;
  text-align: center !important;
  width: 30%;
//  height: 100px;
  border: 3px solid #dde5cd;
  border-radius: 10px;
  background-color: #65bcab;
  font-size: 1.1em
}

.quizOptionsCenter {
  margin: 0 5%;
}

.x-msgbox {
  width: 600px !important;
  height: 400px !important;
  margin: 50px !important;
  border: none !important;
  background-color: #0990d3 !important;
  border-radius: 10px;
  color: #dde4ce;
  -webkit-box-shadow: 0 0 10px #4a5e5a
}

.x-msgbox-buttons .x-button {
width: 100%;
background-color: #ea5f72 !important;
height: 60px !important;
color: #dde5ce;
border-radius: 10px
}

.x-toolbar {
border-radius: 10px
}

.resulttekst {
  margin: 20px auto;
  color: #dde5cd;
  font-size: 1.7em;
  text-align: center !important
}

.quizvideoborderoverlay {
  width: 768px;
  height: 4px;
  background-color: #64bba9;
  position: absolute;
  top: 0px;
//  z-index: 5000;
}

.quizvideoborderoverlay2 {
  width: 768px;
  height: 4px;
  background-color: #64bba9;
  position: absolute;
  top: 430px;
//  z-index: 5000;
}

.count {
  float: right;
  color: #419e8c
}

//-------------------------------------------- VIDEO -------------------------------------------

video {
//  width: 100% !important;
//  height: 100% !important;
//  overflow: hidden !important;
//  align-self: flex-end;
 -webkit-animation: fadein .5s !important;
//   position: absolute !important;
//bottom: 0 !important;
//width: 100%;
//height: auto;
border-style: inset; border-width: 2px 0 0 0; border-color: red;
min-width: 100% !important;
height: auto !important;
position: relative !important;
bottom: 0px;
margin-top: auto
}


.x-button {
background-color: transparent !important
}

.x-video-ghost {
background-color: transparent !important;
background: rgba(0, 0, 0, 0) url() center center no-repeat;
}

.x-layout-card-item {
  background: transparent
}

.x-video {
  background: none !important
}

.videoborderoverlay {
  width: 100%;
  height: 100%;
  background-color: #64bba9;
  position: absolute;
  bottom: 428px;
  z-index: 5000;
}

//-------------------------------------------- ANIMATION -------------------------------------------

.listdetailimage {
  -webkit-animation: fadein .3s !important;
  }

.fade-in {-webkit-animation: fadein .3s;}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes menudown {
    0% { bottom: 40px; opacity: 0; }
    75%   { bottom: 20px; opacity: 1;}
    100%   { bottom: 20px; opacity: 0;}
}

//.swipe-animation {-webkit-animation: swipeanimation 1s steps(30) 4 alternate; width: 86px; height: 103px; float: right;}
//@-webkit-keyframes swipeanimation {
//  -webkit-animation-timing-function: linear;
//   0% {padding-left:0;}
//   100% {padding-left:70px;}
//}

//-------------------------------------------- Bottom menu bar -------------------------------------------   

.x-tabbar-dark.x-docked-bottom .x-tab-active {
background-image: none !important;
background-color: transparent !important;
}

.x-tabbar.x-docked-bottom {
 border-top-width: 0px !important;
}

.x-tabbar.x-docked-bottom .x-tab .x-button-icon {
   font-size: 1.3em;
  height: 1.2em
}

.x-tabbar.x-docked-bottom .x-tab .x-button-icon {
width: 3em;

}

.x-img.x-img-background {
  background-position: center top;
  background-size: 100% auto;
}

.x-tabbar-dark {
  border-top-color: #409d8b !important; 
  border-bottom-color: #409d8b !important; 
  background-image: #409d8b !important; 
  background-color: #409d8b !important;
}

//-------------------------------------------- NAVIGATION ICONS -------------------------------------------

@include icon-font('icomoon', inline-font-files ('../fonts/icomoon.ttf'));
@include icon("menu", "\e601", "icomoon");



